USE [RULETA]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 8/11/2020 9:49:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADOR]    Script Date: 8/11/2020 9:49:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADOR](
	[ID_JUGADOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nchar](10) NOT NULL,
	[APUESTA] [float] NOT NULL,
	[NUMERO] [int] NOT NULL,
 CONSTRAINT [PK_JUGADOR] PRIMARY KEY CLUSTERED 
(
	[ID_JUGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES_PARTIDAS]    Script Date: 8/11/2020 9:49:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_PARTIDAS](
	[ID_JUGADORES_PARTIDAS] [int] IDENTITY(1,1) NOT NULL,
	[ID_JUGADOR] [int] NOT NULL,
	[ID_PARTIDA] [int] NOT NULL,
 CONSTRAINT [PK_JUGADORES_PARTIDAS] PRIMARY KEY CLUSTERED 
(
	[ID_JUGADORES_PARTIDAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDA]    Script Date: 8/11/2020 9:49:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDA](
	[ID_PARTIDA] [int] IDENTITY(1,1) NOT NULL,
	[ID_RULETA] [int] NOT NULL,
	[ID_JUGADOR] [int] NULL,
 CONSTRAINT [PK_PARTIDA] PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RULETA]    Script Date: 8/11/2020 9:49:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULETA](
	[ID_RULETA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_ESTADO] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTADOS] ON 

INSERT [dbo].[ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (1, N'ACTIVA    ')
INSERT [dbo].[ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (2, N'CERRADA   ')
INSERT [dbo].[ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (3, N'FINALIZADA')
SET IDENTITY_INSERT [dbo].[ESTADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[JUGADOR] ON 

INSERT [dbo].[JUGADOR] ([ID_JUGADOR], [NOMBRE], [APUESTA], [NUMERO]) VALUES (1, N'TEST te   ', 1, 11)
INSERT [dbo].[JUGADOR] ([ID_JUGADOR], [NOMBRE], [APUESTA], [NUMERO]) VALUES (2, N'TEST      ', 12, 11)
INSERT [dbo].[JUGADOR] ([ID_JUGADOR], [NOMBRE], [APUESTA], [NUMERO]) VALUES (7, N'rrt       ', 1, 1)
SET IDENTITY_INSERT [dbo].[JUGADOR] OFF
GO
SET IDENTITY_INSERT [dbo].[PARTIDA] ON 

INSERT [dbo].[PARTIDA] ([ID_PARTIDA], [ID_RULETA], [ID_JUGADOR]) VALUES (1, 1, 1)
INSERT [dbo].[PARTIDA] ([ID_PARTIDA], [ID_RULETA], [ID_JUGADOR]) VALUES (2, 1, 0)
SET IDENTITY_INSERT [dbo].[PARTIDA] OFF
GO
SET IDENTITY_INSERT [dbo].[RULETA] ON 

INSERT [dbo].[RULETA] ([ID_RULETA], [FECHA], [ID_ESTADO]) VALUES (2, CAST(N'2020-11-08' AS Date), 1)
INSERT [dbo].[RULETA] ([ID_RULETA], [FECHA], [ID_ESTADO]) VALUES (3, CAST(N'0001-01-01' AS Date), 2)
INSERT [dbo].[RULETA] ([ID_RULETA], [FECHA], [ID_ESTADO]) VALUES (5, CAST(N'0001-01-01' AS Date), 3)
SET IDENTITY_INSERT [dbo].[RULETA] OFF
GO
ALTER TABLE [dbo].[RULETA] ADD  CONSTRAINT [DF_RULETA_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
